@model IEnumerable<RestaurantReview.Models.Restaurant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/style/Homestyle.css"/>
</head>
<body>

    <h1>Welcome to Restaurant Reviews!</h1>
    <section>
    <div id="sampleProjects">
        
       
        @foreach (var restaurant in Model)
        {
            @*<p>Title:<span>@restaurant.Name</span></p>
                <p>Review:<span>@restaurant.Details</span></p>
                <p>Id:<span>@restaurant.Id</span></p>*@
        <article>

            <h3>@restaurant.Name</h3>
            <a href=@restaurant.LinkUrl target="_blank" alt="GridTestProject"
               title="GridTestProject"><img src=@restaurant.LinkImage id="project_item"></a>
            <p>@restaurant.Details</p>
            <a href="/Restaurant/Details/@restaurant.Id">Return to the main listing</a>

        </article>

        }
        </div>
        </section>
</body>
</html>
